# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional tsc compiler output
*.tsbuildinfo

# Optional macOS files
.DS_Store

# Optional Windows files
Thumbs.db

test-gitignore.txt